<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Twitter</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="logo" />
        <h1>Twitter</h1>
      </div>
      <div>
        <ul>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li>
            <a>Help</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="form-main-div">
      <div class="form-sub-main-div">
        <p class="main-p">Register</p>
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
